*{
    box-sizing: border-box;
}
#menu-div1{
    width: 100vw;
    height: 52px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
#menu-div{
    width: 1873px;
    height: 20px;
    display: flex;
    justify-content: center;
   color: #5C5E62;

}
#menu-div > a{
    color: #5C5E62;
    font-weight:lighter;
}
#menu-div > a:hover{
    text-decoration-thickness: 2px;
    cursor: pointer;

}
#menu-container{
    width: 100hw;
    height: 56px;
    /* background-color: rgb(255, 0, 98); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#bar-1{
    width: 598px;
    height: 56px;
    /* background-color: rgb(0, 17, 255); */
    padding: 0 0 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bar-1 > svg{
    width: 152px;
    height: 32px;
    padding: 0 16px;
}
#bar-1 > svg:hover{
cursor: pointer;
} 
#bar-2{
    width: 723px;
    height: 56px;
    /* background-color: rgb(94, 255, 0); */
    padding: 0 8px;
    
    
}
#bar-2 > ul{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
anchor{
text-decoration: none;
color: #000;
}
.anchor{
text-decoration: none;
color: #000;
}
#bar-3{
    width: 598px;
    height: 56px;
    /* background-color: rgb(255, 17, 0); */
    padding: 0 32px 0 0;
        
}
#bar-3 > ul{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   
}
#bar-3>ul>li{
    padding: 4px 16px;
}
#bar-3>ul>li>a{
    cursor: pointer;
}
menu{
    position: fixed;
}
html,body{
    padding: 0;
    margin: 0;
    scroll-snap-type: y proximity;
}
.image{
    height: 100vh;
    scroll-snap-align: center;
    background-position: center;
    background-size: cover;
}
.image:first-child{
   background-image: url(/image/1.jpeg);         
}
.image:nth-child(2){
    background-image: url(/image/2.jpeg);
}
.image:nth-child(3){
    background-image: url(/image/3.jpeg);
}
.image:nth-child(4){
    background-image: url(/image/4.jpeg);
}
.image:nth-child(5){
    background-image: url(/image/5.jpeg);
}
.image:nth-child(6){
    background-image: url(/image/6.webp);
}
.image:last-child{
    background-image: url(/image/7.jpeg);
}
 /*  
aside{
    position: relative;
    width: 311px;
    height: 875px;
    background-color: #dd1717;
    top: -87px;
    transform: translateX(-129%);

}

#translate-element {
    position: absolute;
    transition: transform 0.5s ease-out;
  }
  
  #translate-element:target {
    transform: translateX(-311px); 

  }*/
footer{
    
    width: 1872px;
    height: 70px;
    /* background-color: aquamarine; */
    position: absolute;
    /* transform: translateY(-205%); */
    left: 50%;
    transform: translate(-50%,-70px);

}
footer>div{
    width: 615px;
    height: 70px;
    /* background-color: royalblue; */
    margin: 0 auto;
}
footer>div>ul{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}
.footer-1{
   
   font-size: 12px;
   cursor: pointer;
}
.footer-1>a{
    color: #5C5E62;
}
.model-name{
    position: fixed;
    font-size: 40px;
    color: #171A20;
    width: 1905px;
    height: 48px;
    /* background-color: brown; */
    padding: 0 24px;
    margin: 162px 0 0 0;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-50%);
}
.name-div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation-name: move-up;
    animation-duration: 2s; 
    animation-iteration-count:1;
    /* background-color: aqua; */
     display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes move-up{
    from{
    transform: translate(-86px,30px);  
    }
    50%{
        transform: translate(-86px,30px);  
    }
   to{
    transform: translate(-87px,-19px);  
   }
}
@keyframes move-up1{
    from{
    transform: translate(-55px,30px);  
    }
    50%{
        transform: translate(-55px,30px);  
    }
   to{
    transform: translate(-55px,-7px);  
   }
}
.inventory{
    position: fixed;
    font-size: 14px;
    width: 792px;
    height: 40px;
    /* background-color: rgb(42, 50, 165); */
    padding: 6px 24px 14px;
    /* position: absolute; */
    left: 50%;
    top: 220px;
    transform: translate(-50%,-50%);
}
.inventory-a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #171A20;
    text-decoration: underline;
    animation-name: move-up1;
    animation-duration: 2s; 
    animation-iteration-count:1; 
}
.buttons{
    width: 552px;
    height: 72px;
    padding: 16px 0;
    margin: 0 0 16px;
    /* background-color: aqua; */
    position: fixed;
    left: 50%;
    top: 775px;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-button{
    width: 264px;
    height: 40px;
    padding: 4px 24px;
    background-color: #171A20;
    opacity: 0.9;
    font-size: 14px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    animation-name: move-right;
    animation-duration: 2s; 
    animation-iteration-count:1;
}
@keyframes move-right{
    from{
       /* left: 0; */
       transform: translateX(-40px);  
    }
    50%{
        transform: translateX(-40px);  
    }
   to{
    transform: translateX(0);  
   }
}
@keyframes move-left{
    from{
       /* left: 0; */
       transform: translateX(40px);  
    }
    50%{
        transform: translateX(40px);  
    }
   to{
    transform: translateX(0);  
   }
}
.demo-button{
    width: 264px;
    height: 40px;
    padding: 4px 24px;
    background-color: #ffffff;
    opacity: 0.9;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-weight: bold;
    border: none;
    animation-name: move-left;
    animation-duration: 2s; 
    animation-iteration-count:1;
}
.scroll-down{
    position:absolute;
    left: 50%;
    top: 93%;
    transform: translateX(-50%);
}
.scroll-down > img{
    width: 50px;
}
